# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.vercel

#Database and Artifacts related files
data/
data/indexes/
chunks.db
storage/

# Processed data
data/processed/

# Model caches
.cache/
models/
check_models.py

#Unnecessary files
Architecture.md
Rquiremetnts_improved.txt
count_cases.zsh
offline_pipeline_v1/
offline_pipeline_v2/
qdrant_storage/


# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
